# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out

bin
doc
debug
release
Debug
Release
Makefile
*.Debug
*.Release
*.user
ui_*.h
tmp
obj
ui_tmp
ver
settings
users
.qmake.stash
*.pdb
*.db
*.opendb
*.ipch
*.suo
.vs
ipch
version.h
*.ods
*.yuv
